#topSection {
  position: relative;
  height: 40vw;
  background-image: url("../img/background.jpeg");
  background-size: 100%;
  filter: sepia(50%);
}
#topSection #headerText {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 3rem;
  font-family: "Arvo", serif;
  color: whitesmoke;
  text-shadow: 1px 1px darkslategray;
}

.navbar-brand img {
  height: 50px;
}

article p {
  width: 90%;
  margin: 5px auto;
}

@media only screen and (max-width: 600px) {
  #topSection #headerText {
    font-size: 2.5rem;
  }
}

.checkGuess {
  padding: 0 30px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
